<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbKHgHs3I62FCYB1UdwS8xctvp07-h6Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>1031828574650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chataps</string>
	<key>PROJECT_ID</key>
	<string>chat-app-a55a3</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-a55a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031828574650:ios:6b02d09e538ea7b6fd0d83</string>
</dict>
</plist>